.home {
  display: grid;
  grid-template-columns: 17% 83%;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .home {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

    .home_sidebar {
      display: none;
    }

    .home_main {
      .home_items {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        gap: 20px;
      }

      .chart_sec {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home {
    .home_main {
      .home_items {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .home {
    .home_main {
      .home_items {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}
